@import "https://use.fontawesome.com/releases/v5.0.12/css/all.css"
@import 'https://fonts.googleapis.com/css?family=Griffy|Imprima|Julius+Sans+One'
@import '../src/lineaGrafica'
@import '../src/header'