//reset
Body
 margin: 0
 padding: 0
 display flex
 #header-container
  width: 16vw
 #main-container
  width: 84vw

//Cajas
main
 width: 84vw
 background: #363435
section, article, picture
 display: flex
 color white
 box-sizing: border-box
section
  flex-wrap: wrap
article
 padding: 1vw
.completa
 width: 84vw
.tercio
 width: 28vw
 hgroup
  width: 26vw
  height 38vw
.dosTercios
 width: 56vw
.media
 width: 42vw
 height 20vw
 img 
  height 20vw
.cuarto
 width: 21vw
 height 10vw
 img 
  height 10vw
.video-container
 justify-content: center
 align-items: center
 iframe  
  width: 48vw
  height 27vw
  box-sizing: border-box
//fuentes
h1, h2 
 font-family: 'Julius Sans One', sans-serif
 font-size: 2vw
h3 
 font-family: 'Julius Sans One', sans-serif
 font-size: 1vw
 color: #A6835A
p 
 font-family: 'Julius Sans One', sans-serif
 font-size: 0.9vw
 letter-spacing: 0.1vw
 line-height: 1.2vw