//reset
body
 margin: 0
 padding: 0
 display flex
 justify-content: center
 box-sizing: border-box
 #header-container
  width: 15vw
  box-sizing: border-box
  margin: 0
 #main-container
  width: 84vw
  box-sizing: border-box
  margin 0

//Cajas
main
 width: 84vw
.portada
 position fixed
 z-index: 1
section, article
 display: flex
 color white
 box-sizing: border-box
 flex-wrap: nowrap
section
 flex-wrap: wrap
 min-height: 40vw
article
 padding: 1vw
 z-index: 2
 height 40vw
.completa
 width: 84vw
.tercio
 width: 28vw
.dosTercios
 width: 56vw
.media
 width: 42vw
 height 20vw
 img 
  height 20vw
.cuarto
 width: 21vw
 height 10vw
 img 
  height 10vw
.video-container
 justify-content: center
 align-items: center
 iframe  
  width: 48vw
  height 27vw
  box-sizing: border-box
//fuentes
h1, h2 
 font-family: 'Julius Sans One', sans-serif
 font-size: 2vw
h3 
 font-family: 'Julius Sans One', sans-serif
 font-size: 1vw
 color: #A6835A
p, li
 font-family: 'Julius Sans One', sans-serif
 font-size: 0.9vw
 letter-spacing: 0.1vw
 line-height: 1.2vw
//color de caja

.obscuro
 background: #24292D
.claro
 background: #2B3136
.neutro
 background: #363435
.transparente
 background:  rgba(49, 53, 57, 0.6)